# 12S2203 Object-Oriented Programming
This repository is dedicated to store 12S2203 Object-Oriented Programming course artifacts.
/source/assignments/praktikum/01_23_12s18018_12S16008/languange-fundamentals/build/
/work/assignments/02_23_12s16008_12s18018/student_database/nbproject/private/
/work/assignments/02_23_12s16008_12s18018/student_database/build/